.cart-container {
    background-color: #f8f9fa;

    .cart-content {
        width           : 100%;
        background-color: #f8f9fa;
        height          : 100%;

        .cart-header {
            position: sticky;
            top     : 0;
            z-index : 100;
        }

        .cart-body {
            width          : 100%;
            height         : 100%;
            display        : flex;
            flex-wrap      : wrap;
            align-content  : flex-start;
            justify-content: center;

            .cart-title {
                margin        : 15px 0;
                width         : 80%;
                height        : 50px;
                display       : flex;
                align-items   : center;
                margin        : 0px 0 0;
                font-weight   : 600;
                font-family   : 'Nunito Sans' !important;
                color         : #333333 !important;
                line-height   : 20px;
                font-size     : 20px;
                text-transform: uppercase;


                .text-title {
                    margin-left: 5px;
                    font-weight: 600;
                    font-size  : 16px;
                }
            }

            .choose-all {
                border-radius   : 8px;
                width           : 80%;
                height          : 42px;
                background-color: white;
                box-shadow      : rgba(0, 0, 0, 0.05) 0px 5px 15px 0px;
                display         : flex;
                align-items     : center;

                input {
                    margin: 0 15px;
                    height: 20px;
                    width : 20px;
                }

                .text-all-product {
                    margin     : 0 15px;
                    width      : 700px;
                    font-weight: 550;
                    font-size  : 17px;
                    font-family: 'Nunito Sans' !important;
                }

                .text-soluong {
                    margin     : 0 15px;
                    font-weight: 550;
                    font-size  : 17px;
                    font-family: 'Nunito Sans' !important;
                }

                .text-gia {
                    margin     : 0 60px;
                    font-weight: 550;
                    font-size  : 17px;
                    font-family: 'Nunito Sans' !important;
                }
            }

            .product-incart {
                margin          : 15px 0;
                border-radius   : 8px;
                width           : 80%;
                height          : 170px;
                background-color: white;
                box-shadow      : rgba(0, 0, 0, 0.05) 0px 5px 15px 0px;
                display         : flex;
                align-items     : center;



                input {
                    margin: 0 15px;
                    height: 20px;
                    width : 20px;
                }

                .img-product {
                    margin             : 0 15px;
                    width              : 135px;
                    height             : 140px;
                    background-repeat  : no-repeat;
                    background-position: center;
                    background-size    : contain;

                    &:hover {
                        cursor: pointer;
                    }
                }

                .info-product {
                    margin  : 0 15px;
                    width   : 535px;
                    height  : 140px;
                    position: relative;

                    .ten-sach {
                        font-size         : 16px;
                        color             : #333333;
                        font-family       : 'Nunito Sans' !important;
                        word-break        : break-word;
                        white-space       : normal;
                        overflow          : hidden;
                        text-overflow     : ellipsis;
                        display           : -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        max-height        : 6em;
                        padding-top       : 0px;
                        margin            : 0 10px;
                    }

                    .gia-sach {
                        position   : absolute;
                        bottom     : 20px;
                        margin     : 0 10px;
                        font-size  : 1.2em;
                        line-height: 1.2em;
                        color      : #333;
                        font-weight: 650;
                        font-family: sans-serif !important;

                    }

                    .gia-sach-discount {
                        margin         : 0 100px;
                        position       : absolute;
                        bottom         : 23px;
                        font-size      : 1em;
                        line-height    : 1.2em;
                        color          : #7A7E7F !important;
                        text-decoration: line-through;
                        font-size      : 0.95em;
                        font-weight    : normal !important;
                        font-family    : sans-serif !important;
                    }
                }

                .desgin-input-number {
                    margin         : 0 15px;
                    height         : 35px;
                    display        : flex;
                    justify-content: center;
                    align-items    : center;
                    width          : 81px;
                    border         : 1px solid #ddd;
                    border-radius  : 7px;

                    .input-soluong {
                        height     : 26.54px;
                        width      : 22.58px;
                        border     : none;
                        outline    : none;
                        margin     : 0 0 !important;
                        color      : #0D0E0F;
                        font-weight: 700;
                        font-size  : 1.2em;
                        height     : 100%;
                        text-align : center;
                    }

                    input.input-soluong::-webkit-outer-spin-button,
                    input.input-soluong::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin            : 0;
                    }

                    input[type=number].input-soluong {
                        -moz-appearance: textfield;
                    }

                    .btn-minus {
                        width          : 26.54px;
                        height         : 18.56px;
                        display        : flex;
                        justify-content: center;
                        align-items    : center;

                        i {
                            font-size: 15px;
                            color    : #646464;
                        }

                        &:hover {
                            cursor: pointer;
                        }
                    }

                    .btn-adds {
                        width          : 26.54px;
                        height         : 18.56px;
                        display        : flex;
                        justify-content: center;
                        align-items    : center;

                        i {
                            font-size: 15px;
                            color    : #646464;
                        }

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }

                .thanh-tien {
                    margin     : 0 60px;
                    color      : rgb(255, 57, 69);
                    font-weight: bold;
                    font-size  : 1.2em;
                }

                .delete-product-cart {
                    i {
                        font-size: 22px;
                        color    : #646464;
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            .cart-is-null {
                margin          : 15px 0;
                border-radius   : 8px;
                width           : 80%;
                height          : 300px;
                background-color: white;
                box-shadow      : rgba(0, 0, 0, 0.05) 0px 5px 15px 0px;
                display         : flex;
                justify-content : center;
                align-items     : center;

                .text-center-cart {
                    width          : 270px;
                    height         : 260px;
                    display        : flex;
                    flex-wrap      : wrap;
                    align-content  : flex-start;
                    justify-content: center;

                    .img-center-cart {
                        height          : 160px;
                        width           : 160px;
                        background-image: url('../../../assets/images/cart/ico_emptycart.svg');
                    }

                    .text-cart-isnull {
                        font-size  : 15px;
                        text-align : center;
                        font-family: 'Nunito Sans' !important;
                        color      : #333333;
                        font-weight: 500;
                        margin     : 20px 0;
                    }

                    .btn-muasam {
                        height        : 40px;
                        width         : 220px;
                        color         : #fff;
                        background    : rgb(255, 57, 69);
                        font-size     : 14px;
                        font-weight   : bold;
                        text-transform: uppercase;
                        border        : none;
                        outline       : none;
                        font-family   : inherit;
                        border-radius : 7px;
                    }
                }
            }

            .cart-bill {
                border-radius   : 8px;
                width           : 80%;
                height          : 120px;
                background-color: white;
                box-shadow      : rgba(0, 0, 0, 0.05) 0px 5px 15px 0px;

                .toltal-product {
                    display    : flex;
                    align-items: center;

                    .text-toltal {
                        font-size  : 25px;
                        font-family: 'Nunito Sans' !important;
                        margin     : 0 10px;
                    }

                    .toltal-mount {
                        margin     : 0 60px;
                        color      : rgb(255, 57, 69);
                        font-weight: bold;
                        font-size  : 1.5em;

                    }


                }

                .toltal-bill {
                    height: 100px;

                    .btn-thanhtoan {
                        margin          : 10px 30px;
                        height          : 40px;
                        width           : 300px;
                        border          : none;
                        outline         : none;
                        background-color: rgb(255, 57, 69);
                        color           : white;
                        border-radius   : 7px;
                        text-transform  : uppercase;
                        font-weight     : 550;

                        &:hover {
                            cursor: pointer;
                        }
                    }

                    .btn-not-thanhtoan {
                        margin          : 10px 30px;
                        height          : 40px;
                        width           : 300px;
                        border          : none;
                        outline         : none;
                        background-color: #e0e0e0;
                        color           : white;
                        border-radius   : 7px;
                        text-transform  : uppercase;
                        font-weight     : 550;

                        &:hover {
                            cursor: not-allowed;
                        }
                    }

                }

            }
        }
    }
}