.bill-manage-container {
    .bill-manage-content {
        .bill-manage-title {
            margin        : 15px 0;
            font-size     : 25px;
            font-weight   : 600;
            text-align    : center;
            color         : blue;
            text-transform: uppercase;
        }

        .bill-manage-body {
            margin: 5px 5px;

            .bill-info-customer {
                margin       : 0 5px;
                border       : 1px solid #ddd;
                padding      : 5px 5px;
                height       : 200px;
                border-radius: 5px;
            }

            .bill-table-manager {
                display: flex;

                .bill-table {
                    margin    : 5px 5px;
                    width     : 60%;
                    max-height: 500px;
                    overflow  : hidden;
                    overflow-y: auto;

                    .table {

                        border: 1px solid #ddd;

                        thead {
                            tr {
                                text-align: center;

                                th {
                                    padding-top     : 12px;
                                    padding-bottom  : 12px;
                                    text-align      : center;
                                    background-color: gray;
                                    color           : white;
                                }

                                &:hover {
                                    cursor          : pointer;
                                    background-color: rgba(39, 39, 42, 0.12);
                                }

                                th {
                                    border: 1px solid #ddd;

                                }
                            }
                        }

                        tr {
                            text-align: center;
                            height    : 40px;


                            &:hover {
                                cursor          : pointer;
                                background-color: rgba(39, 39, 42, 0.12);
                            }

                            &.active {
                                background-color: rgba(39, 39, 42, 0.12);
                            }
                        }






                    }
                }

                .bill-detail-table {
                    width     : 39%;
                    margin    : 5px 5px;
                    max-height: 500px;
                    overflow  : hidden;
                    overflow-y: auto;

                    .table {

                        border: 1px solid #ddd;

                        thead {

                            tr {
                                text-align: center;
                                height    : 40px;

                                th {
                                    padding-top     : 12px;
                                    padding-bottom  : 12px;
                                    text-align      : center;
                                    background-color: gray;
                                    color           : white;
                                }



                                th {
                                    border: 1px solid #ddd;

                                }
                            }
                        }

                        tr {
                            text-align: center;
                            height    : 40px;



                            &:hover {
                                cursor          : pointer;
                                background-color: rgba(39, 39, 42, 0.12);
                            }

                            .img-SP {
                                background-image   : url('../../../assets/images/Book/8935001853633.jpg');
                                background-position: center;
                                background-repeat  : no-repeat;
                                background-size    : contain;
                            }


                        }






                    }
                }
            }

            .choose-bill {
                height     : 50px;
                display    : flex;
                align-items: center;
                margin     : 5px 5px 20px 5px;
                float      : right;

                .btn-huy {
                    margin          : 5px;
                    border          : none;
                    outline         : none;
                    height          : 30px;
                    width           : 70px;
                    border-radius   : 5px;
                    background-color: #ffaa0f;
                    color           : white;
                    font-weight     : 600;
                }

                .btn-xacnhan {
                    border          : none;
                    outline         : none;
                    margin          : 0px 0px 0px 5px;
                    border-radius   : 5px;
                    height          : 30px;
                    width           : 180px;
                    background-color: #ffaa0f;

                }

                .btn-sua {
                    border          : none;
                    outline         : none;
                    border-radius   : 5px;
                    margin          : 0px 0px 0px 5px;
                    height          : 30px;
                    width           : 70px;
                    background-color: #c2c2e9;
                }
            }

            .add-new-bill {
                width      : 100%;
                height     : 50px;
                display    : flex;
                align-items: center;
                margin     : 5px 5px 20px 5px;
                position   : relative;

                .btn-add-new-bill {
                    position: absolute;
                    right   : 12px;

                    .btn-add-bill {

                        border          : none;
                        outline         : none;
                        margin          : 0px 0px 0px 5px;
                        border-radius   : 5px;
                        height          : 30px;
                        width           : 150px;
                        background-color: #ffaa0f;
                    }


                    .btn-add-customer {
                        border          : none;
                        outline         : none;
                        margin          : 0px 0px 0px 5px;
                        border-radius   : 5px;
                        height          : 30px;
                        width           : 150px;
                        background-color: #c2c2e9;
                    }
                }
            }
        }
    }
}