.home-back-group-container {
    width : 100%;
    height: 100%;

    .home-back-group-content {
        display        : flex;
        justify-content: center;
        flex-wrap      : wrap;
        align-content  : flex-start;

        .home-back-group-title {
            display    : inline;
            font-weight: 400;
            color      : rgb(56, 56, 61);
            font-size  : 20px !important;
            padding    : 20px 20px;
            width      : 100%;
        }

        .home-back-group-slider {
            position     : relative !important;
            width        : 95%;
            height       : 200px;
            margin-bottom: 15px;

            .slick-slider.slick-initialized {
                position: static !important;
            }


            .slick-prev {
                z-index            : 1;
                transition         : opacity 0.2s ease 0s;
                background-image   : url('../../../assets/images/slider/b61db5f1c32cfdc6d75e59d4fac2dbe8.png');
                background-position: center;
                background-repeat  : no-repeat;
                background-size    : contain;
                width              : 32px;
                height             : 56px;
                left               : 0px;
                top                : 34%;
                transform          : rotate(180deg);

                &:hover {
                    cursor : pointer;
                    opacity: 0.3;
                }
            }

            .slick-next {
                z-index            : 1;
                transition         : opacity 0.2s ease 0s;
                background-image   : url('../../../assets/images/slider/b61db5f1c32cfdc6d75e59d4fac2dbe8.png');
                background-position: center;
                background-repeat  : no-repeat;
                background-size    : contain;
                width              : 32px;
                height             : 56px;
                right              : 3px;


                &:hover {
                    cursor : pointer;
                    opacity: 0.3;
                }

            }

            .div-1 {
                .div-child {
                    border       : 1px solid #ddd;
                    width        : 99%;
                    margin-right : 5px;
                    height       : 200px;
                    display      : flex;
                    border-radius: 8px;


                    .child-left {
                        width           : 40%;
                        height          : 100%;
                        background-color: #ecf1ef;
                        display         : flex;
                        justify-content : center;
                        align-items     : center;
                        border-radius   : 8px;


                        .img {
                            height             : 123px;
                            width              : 123px;
                            background-image   : url('../../../assets/images/Backgroup/88c30b1c9f4203cab566c73e703b63f3.png');
                            background-position: center;
                            background-repeat  : no-repeat;
                            background-size    : contain;
                            border-radius      : 4px;
                            border             : 1px solid rgb(235, 235, 240);
                        }

                    }

                    .child-right {
                        width : 60%;
                        height: 100%;

                        .text-ncc {
                            display    : inline;
                            font-weight: 400;
                            color      : rgb(56, 56, 61);
                            font-size  : 20px !important;
                            font-weight: 550;
                            margin     : 20px;
                        }

                        .product-ncc {
                            margin : 20px;
                            height : 80px;
                            display: flex;

                            .img-1 {
                                height             : 100%;
                                margin             : 0 2px;
                                width              : 64px;
                                border-radius      : 4px;
                                border             : 1px solid rgb(235, 235, 240);
                                background-image   : url('../../../assets/images/Backgroup/NhaNam/8935235217508_11.jpg');
                                background-position: center;
                                background-repeat  : no-repeat;
                                background-size    : contain;
                            }

                            .img-2 {
                                height             : 100%;
                                width              : 64px;
                                margin             : 0 2px;
                                background-image   : url('../../../assets/images/Backgroup/NhaNam/image_195509_1_36793.jpg');
                                background-position: center;
                                background-repeat  : no-repeat;
                                background-size    : contain;
                                border-radius      : 4px;
                                border             : 1px solid rgb(235, 235, 240);
                            }

                            .img-3 {
                                height             : 100%;
                                width              : 64px;
                                margin             : 0 2px;
                                background-image   : url('../../../assets/images/Backgroup/NhaNam/image_217480.jpg');
                                background-position: center;
                                background-repeat  : no-repeat;
                                background-size    : contain;
                                border-radius      : 4px;
                                border             : 1px solid rgb(235, 235, 240);
                            }
                        }
                    }
                }


            }

            .div-2 {
                .div-child {
                    border       : 1px solid #ddd;
                    width        : 99%;
                    margin-right : 5px;
                    height       : 200px;
                    display      : flex;
                    border-radius: 8px;

                    .child-left {
                        width           : 40%;
                        height          : 100%;
                        display         : flex;
                        justify-content : center;
                        align-items     : center;
                        background-color: #dcb7c1;
                        border-radius   : 8px;

                        .img {
                            height             : 123px;
                            width              : 123px;
                            background-image   : url('../../../assets/images/Backgroup/911902260246ad78a6a6a7e2ff220eb9.jpg');
                            background-position: center;
                            background-repeat  : no-repeat;
                            background-size    : contain;
                            border-radius      : 4px;
                            border             : 1px solid rgb(235, 235, 240);
                        }

                    }

                    .child-right {
                        width : 60%;
                        height: 100%;

                        .text-ncc {
                            display    : inline;
                            font-weight: 400;
                            color      : rgb(56, 56, 61);
                            font-size  : 20px !important;
                            font-weight: 550;
                            margin     : 20px;
                        }

                        .product-ncc {
                            margin : 20px;
                            height : 80px;
                            display: flex;

                            .img-1 {
                                height             : 100%;
                                margin             : 0 2px;
                                width              : 64px;
                                border-radius      : 4px;
                                border             : 1px solid rgb(235, 235, 240);
                                background-image   : url('../../../assets/images/Backgroup/fahasa/9786043940350.jpg');
                                background-position: center;
                                background-repeat  : no-repeat;
                                background-size    : contain;
                            }

                            .img-2 {
                                height          : 100%;
                                width           : 64px;
                                margin          : 0 2px;
                                background-image: url('../../../assets/images/Backgroup/fahasa/image_195509_1_31258.jpg');

                                background-position: center;
                                background-repeat  : no-repeat;
                                background-size    : contain;
                                border-radius      : 4px;
                                border             : 1px solid rgb(235, 235, 240);
                            }

                            .img-3 {
                                height          : 100%;
                                width           : 64px;
                                margin          : 0 2px;
                                background-image: url('../../../assets/images/Backgroup/fahasa/image_195509_1_36366.jpg');

                                background-position: center;
                                background-repeat  : no-repeat;
                                background-size    : contain;
                                border-radius      : 4px;
                                border             : 1px solid rgb(235, 235, 240);
                            }
                        }
                    }
                }
            }

            .div-3 {
                .div-child {
                    border       : 1px solid #ddd;
                    width        : 99%;
                    margin-right : 5px;
                    height       : 200px;
                    display      : flex;
                    border-radius: 8px;

                    .child-left {
                        width           : 40%;
                        height          : 100%;
                        display         : flex;
                        justify-content : center;
                        align-items     : center;
                        background-color: #fcfdfd;
                        border-radius   : 8px;

                        .img {
                            height             : 123px;
                            width              : 123px;
                            background-image   : url('../../../assets/images/Backgroup/329c6f8588088f1cb48568db59727117.jpg');
                            background-position: center;
                            background-repeat  : no-repeat;
                            background-size    : contain;
                            border-radius      : 4px;
                            border             : 1px solid rgb(235, 235, 240);
                        }

                    }

                    .child-right {
                        width : 60%;
                        height: 100%;

                        .text-ncc {
                            display    : inline;
                            font-weight: 400;
                            color      : rgb(56, 56, 61);
                            font-size  : 20px !important;
                            font-weight: 550;
                            margin     : 20px;
                        }

                        .product-ncc {
                            margin : 20px;
                            height : 80px;
                            display: flex;

                            .img-1 {
                                height             : 100%;
                                margin             : 0 2px;
                                width              : 64px;
                                border-radius      : 4px;
                                border             : 1px solid rgb(235, 235, 240);
                                background-image   : url('../../../assets/images/Backgroup/zenbook/3d98d20a1b5f872fb3b13c2abc504886.jpg');
                                background-position: center;
                                background-repeat  : no-repeat;
                                background-size    : contain;
                            }

                            .img-2 {
                                height          : 100%;
                                width           : 64px;
                                margin          : 0 2px;
                                background-image: url('../../../assets/images/Backgroup/zenbook/c498417460b1b15f5eb112f7b39d5f7e.png');

                                background-position: center;
                                background-repeat  : no-repeat;
                                background-size    : contain;
                                border-radius      : 4px;
                                border             : 1px solid rgb(235, 235, 240);
                            }

                            .img-3 {
                                height          : 100%;
                                width           : 64px;
                                margin          : 0 2px;
                                background-image: url('../../../assets/images/Backgroup/zenbook/d0e63fda58ab6ae3cdcfbc0b0ecdb2d7.jpg');

                                background-position: center;
                                background-repeat  : no-repeat;
                                background-size    : contain;
                                border-radius      : 4px;
                                border             : 1px solid rgb(235, 235, 240);
                            }
                        }
                    }
                }
            }

            .div-4 {
                .div-child {
                    border       : 1px solid #ddd;
                    width        : 99%;
                    margin-right : 5px;
                    height       : 200px;
                    display      : flex;
                    border-radius: 8px;

                    .child-left {
                        width           : 40%;
                        height          : 100%;
                        display         : flex;
                        justify-content : center;
                        align-items     : center;
                        background-color: #f7ebec;
                        border-radius   : 8px;

                        .img {
                            height             : 123px;
                            width              : 123px;
                            background-image   : url('../../../assets/images/Backgroup/34adb5c26818c6160957a44ca7d6eeb5.jpg');
                            background-position: center;
                            background-repeat  : no-repeat;
                            background-size    : contain;
                            border-radius      : 4px;
                            border             : 1px solid rgb(235, 235, 240);
                        }

                    }

                    .child-right {
                        width : 60%;
                        height: 100%;

                        .text-ncc {
                            display    : inline;
                            font-weight: 400;
                            color      : rgb(56, 56, 61);
                            font-size  : 20px !important;
                            font-weight: 550;
                            margin     : 20px;
                        }

                        .product-ncc {
                            margin : 20px;
                            height : 80px;
                            display: flex;

                            .img-1 {
                                height             : 100%;
                                margin             : 0 2px;
                                width              : 64px;
                                border-radius      : 4px;
                                border             : 1px solid rgb(235, 235, 240);
                                background-image   : url('../../../assets/images/Backgroup/bachviet/91e6fdddd973b8b7f60a40a50ed871c2.jpg');
                                background-position: center;
                                background-repeat  : no-repeat;
                                background-size    : contain;
                            }

                            .img-2 {
                                height          : 100%;
                                width           : 64px;
                                margin          : 0 2px;
                                background-image: url('../../../assets/images/Backgroup/bachviet/9c38c917a164600a498184d3d73c47f5.jpg');

                                background-position: center;
                                background-repeat  : no-repeat;
                                background-size    : contain;
                                border-radius      : 4px;
                                border             : 1px solid rgb(235, 235, 240);
                            }

                            .img-3 {
                                height          : 100%;
                                width           : 64px;
                                margin          : 0 2px;
                                background-image: url('../../../assets/images/Backgroup/bachviet/feedafb39c7bc93f49277bef45f618d4.jpg');

                                background-position: center;
                                background-repeat  : no-repeat;
                                background-size    : contain;
                                border-radius      : 4px;
                                border             : 1px solid rgb(235, 235, 240);
                            }
                        }
                    }
                }
            }

            .div-5 {
                .div-child {
                    border       : 1px solid #ddd;
                    width        : 99%;
                    margin-right : 5px;
                    height       : 200px;
                    display      : flex;
                    border-radius: 8px;

                    .child-left {
                        width           : 40%;
                        height          : 100%;
                        display         : flex;
                        justify-content : center;
                        align-items     : center;
                        background-color: #c7b6d8;
                        border-radius   : 8px;

                        .img {
                            height             : 123px;
                            width              : 123px;
                            background-image   : url('../../../assets/images/Backgroup/19cc60f9c3a7e1650787c1c83f90237e.jpg');
                            background-position: center;
                            background-repeat  : no-repeat;
                            background-size    : contain;
                            border-radius      : 4px;
                            border             : 1px solid rgb(235, 235, 240);
                        }

                    }

                    .child-right {
                        width : 60%;
                        height: 100%;

                        .text-ncc {
                            display    : inline;
                            font-weight: 400;
                            color      : rgb(56, 56, 61);
                            font-size  : 20px !important;
                            font-weight: 550;
                            margin     : 20px;
                        }

                        .product-ncc {
                            margin : 20px;
                            height : 80px;
                            display: flex;

                            .img-1 {
                                height             : 100%;
                                margin             : 0 2px;
                                width              : 64px;
                                border-radius      : 4px;
                                border             : 1px solid rgb(235, 235, 240);
                                background-image   : url('../../../assets/images/Backgroup/futurebook/33a85b4c43c4d281acb7e5a39e39d0cb.jpg');
                                background-position: center;
                                background-repeat  : no-repeat;
                                background-size    : contain;
                            }

                            .img-2 {
                                height          : 100%;
                                width           : 64px;
                                margin          : 0 2px;
                                background-image: url('../../../assets/images/Backgroup/futurebook/b976275e5375f893b88fa17ad80b63ec.jpg');

                                background-position: center;
                                background-repeat  : no-repeat;
                                background-size    : contain;
                                border-radius      : 4px;
                                border             : 1px solid rgb(235, 235, 240);
                            }

                            .img-3 {
                                height          : 100%;
                                width           : 64px;
                                margin          : 0 2px;
                                background-image: url('../../../assets/images/Backgroup/futurebook/e7e573cc4ee7540577ab5b02484f6af7.jpg');

                                background-position: center;
                                background-repeat  : no-repeat;
                                background-size    : contain;
                                border-radius      : 4px;
                                border             : 1px solid rgb(235, 235, 240);
                            }
                        }
                    }
                }
            }

            .div-6 {
                .div-child {
                    border       : 1px solid #ddd;
                    width        : 99%;
                    margin-right : 5px;
                    height       : 200px;
                    display      : flex;
                    border-radius: 8px;

                    .child-left {
                        width           : 40%;
                        height          : 100%;
                        display         : flex;
                        justify-content : center;
                        align-items     : center;
                        background-color: #f194ad;
                        border-radius   : 8px;

                        .img {
                            height             : 123px;
                            width              : 123px;
                            background-image   : url('../../../assets/images/Backgroup/9b85e50ab8fbd3d596b80f2c66297eca.jpg');
                            background-position: center;
                            background-repeat  : no-repeat;
                            background-size    : contain;
                            border-radius      : 4px;
                            border             : 1px solid rgb(235, 235, 240);
                        }

                    }

                    .child-right {
                        width : 60%;
                        height: 100%;

                        .text-ncc {
                            display    : inline;
                            font-weight: 400;
                            color      : rgb(56, 56, 61);
                            font-size  : 20px !important;
                            font-weight: 550;
                            margin     : 20px;
                        }

                        .product-ncc {
                            margin : 20px;
                            height : 80px;
                            display: flex;

                            .img-1 {
                                height             : 100%;
                                margin             : 0 2px;
                                width              : 64px;
                                border-radius      : 4px;
                                border             : 1px solid rgb(235, 235, 240);
                                background-image   : url('../../../assets/images/Backgroup/deli/5dbd3c598be0779980d5467ceaa83602.jpg');
                                background-position: center;
                                background-repeat  : no-repeat;
                                background-size    : contain;
                            }

                            .img-2 {
                                height          : 100%;
                                width           : 64px;
                                margin          : 0 2px;
                                background-image: url('../../../assets/images/Backgroup/deli/b368fb24f0ed56be935ef14702e696b3.jpg');

                                background-position: center;
                                background-repeat  : no-repeat;
                                background-size    : contain;
                                border-radius      : 4px;
                                border             : 1px solid rgb(235, 235, 240);
                            }

                            .img-3 {
                                height          : 100%;
                                width           : 64px;
                                margin          : 0 2px;
                                background-image: url('../../../assets/images/Backgroup/deli/e360a873ba5e7beb079c18bc2806c03a.jpg');

                                background-position: center;
                                background-repeat  : no-repeat;
                                background-size    : contain;
                                border-radius      : 4px;
                                border             : 1px solid rgb(235, 235, 240);
                            }
                        }
                    }
                }
            }

            .div-7 {
                .div-child {
                    border       : 1px solid #ddd;
                    width        : 99%;
                    margin-right : 5px;
                    height       : 200px;
                    display      : flex;
                    border-radius: 8px;

                    .child-left {
                        width           : 40%;
                        height          : 100%;
                        display         : flex;
                        justify-content : center;
                        align-items     : center;
                        background-color: #95d9ef;
                        border-radius   : 8px;

                        .img {
                            height             : 123px;
                            width              : 123px;
                            background-image   : url('../../../assets/images/Backgroup/bd8035ded7b80defcc29420662d7e8c3.jpg');
                            background-position: center;
                            background-repeat  : no-repeat;
                            background-size    : contain;
                            border-radius      : 4px;
                            border             : 1px solid rgb(235, 235, 240);
                        }

                    }

                    .child-right {
                        width : 60%;
                        height: 100%;

                        .text-ncc {
                            display    : inline;
                            font-weight: 400;
                            color      : rgb(56, 56, 61);
                            font-size  : 20px !important;
                            font-weight: 550;
                            margin     : 20px;
                        }

                        .product-ncc {
                            margin : 20px;
                            height : 80px;
                            display: flex;

                            .img-1 {
                                height             : 100%;
                                margin             : 0 2px;
                                width              : 64px;
                                border-radius      : 4px;
                                border             : 1px solid rgb(235, 235, 240);
                                background-image   : url('../../../assets/images/Backgroup/firstnew/5409fafd2a704f0a44253471996c1a58.png');
                                background-position: center;
                                background-repeat  : no-repeat;
                                background-size    : contain;
                            }

                            .img-2 {
                                height          : 100%;
                                width           : 64px;
                                margin          : 0 2px;
                                background-image: url('../../../assets/images/Backgroup/firstnew/7d1ae6db96ff4f2f96d0ad79fa6725e9.png');

                                background-position: center;
                                background-repeat  : no-repeat;
                                background-size    : contain;
                                border-radius      : 4px;
                                border             : 1px solid rgb(235, 235, 240);
                            }

                            .img-3 {
                                height          : 100%;
                                width           : 64px;
                                margin          : 0 2px;
                                background-image: url('../../../assets/images/Backgroup/firstnew/d341391216e0be1b858250849da05935.png');

                                background-position: center;
                                background-repeat  : no-repeat;
                                background-size    : contain;
                                border-radius      : 4px;
                                border             : 1px solid rgb(235, 235, 240);
                            }
                        }
                    }
                }
            }

            .div-8 {
                .div-child {
                    border       : 1px solid #ddd;
                    width        : 99%;
                    margin-right : 5px;
                    height       : 200px;
                    display      : flex;
                    border-radius: 8px;

                    .child-left {
                        width           : 40%;
                        height          : 100%;
                        display         : flex;
                        justify-content : center;
                        align-items     : center;
                        background-color: #f6f9fb;
                        border-radius   : 8px;

                        .img {
                            height             : 123px;
                            width              : 123px;
                            background-image   : url('../../../assets/images/Backgroup/5018eeb747ac653498990c45f8561d97.jpg');
                            background-position: center;
                            background-repeat  : no-repeat;
                            background-size    : contain;
                            border-radius      : 4px;
                            border             : 1px solid rgb(235, 235, 240);
                        }

                    }

                    .child-right {
                        width : 60%;
                        height: 100%;

                        .text-ncc {
                            display    : inline;
                            font-weight: 400;
                            color      : rgb(56, 56, 61);
                            font-size  : 20px !important;
                            font-weight: 550;
                            margin     : 20px;
                        }

                        .product-ncc {
                            margin : 20px;
                            height : 80px;
                            display: flex;

                            .img-1 {
                                height             : 100%;
                                margin             : 0 2px;
                                width              : 64px;
                                border-radius      : 4px;
                                border             : 1px solid rgb(235, 235, 240);
                                background-image   : url('../../../assets/images/Backgroup/thienlong/1fbac48019ebc0e7512a989ea54694e8.jpg');
                                background-position: center;
                                background-repeat  : no-repeat;
                                background-size    : contain;
                            }

                            .img-2 {
                                height          : 100%;
                                width           : 64px;
                                margin          : 0 2px;
                                background-image: url('../../../assets/images/Backgroup/thienlong/3b8890cf8a5fbd13edd1873b29cb4287.jpg');

                                background-position: center;
                                background-repeat  : no-repeat;
                                background-size    : contain;
                                border-radius      : 4px;
                                border             : 1px solid rgb(235, 235, 240);
                            }

                            .img-3 {
                                height          : 100%;
                                width           : 64px;
                                margin          : 0 2px;
                                background-image: url('../../../assets/images/Backgroup/thienlong/64660e075cbd4cda78313367d2940d98.jpg');

                                background-position: center;
                                background-repeat  : no-repeat;
                                background-size    : contain;
                                border-radius      : 4px;
                                border             : 1px solid rgb(235, 235, 240);
                            }
                        }
                    }
                }
            }
        }

        .home-back-group-category {
            width      : 95%;
            height     : 60px;
            display    : flex;
            align-items: center;

            .ban-chay {
                position      : relative;
                margin        : 0 5px;
                text-transform: capitalize;
                font-weight   : 400;
                font-stretch  : normal;
                font-style    : normal;
                line-height   : 20px;
                letter-spacing: normal;
                color         : rgb(36, 36, 36);
                display       : inline-block;
                font-size     : 14px;
                padding       : 12px 16px;
                border-radius : 2px;



                &:hover {
                    cursor: pointer;
                }

                &.active {
                    border-bottom: 4px solid rgb(11, 116, 229);
                    color        : rgb(11, 116, 229);

                }
            }

            .gia-cao-den-thap {
                margin: 0 5px;

                text-transform: capitalize;
                font-weight   : 400;
                font-stretch  : normal;
                font-style    : normal;
                line-height   : 20px;
                letter-spacing: normal;
                color         : rgb(36, 36, 36);
                display       : inline-block;
                font-size     : 14px;
                padding       : 12px 16px;

                &:hover {
                    cursor: pointer;
                }

                &.active {
                    border-bottom: 4px solid rgb(11, 116, 229);
                    color        : rgb(11, 116, 229);

                }
            }

            .gia-thap-den-cao {
                margin: 0 5px;

                text-transform: capitalize;
                font-weight   : 400;
                font-stretch  : normal;
                font-style    : normal;
                line-height   : 20px;
                letter-spacing: normal;
                color         : rgb(36, 36, 36);
                display       : inline-block;
                font-size     : 14px;
                padding       : 12px 16px;

                &:hover {
                    cursor: pointer;
                }

                &.active {
                    border-bottom: 4px solid rgb(11, 116, 229);
                    color        : rgb(11, 116, 229);

                }
            }
        }
    }
}